{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {% include 'default/header.html.twig' %}

        <!-- ****** Cart Area Start ****** -->
        <div class="cart_area section_padding_100 clearfix" style="margin-top: 50px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center mt-5">
                        <div class="section_heading text-center mt-5">
                            <h3>About us</h3>
                            <p class="mt-5">Billiorich tunisian brand founded 2017.</p>

                            <p>The brand has created a complete range of high-quality items.</p>

                            <p>Billiorich products bring the luxurious lifestyle.</p>

                            <p>Billiorich puts the presence of Swarovski crystals on these items in integration with the design.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="cart-footer mt-5">
                        <div class="back-to-shop">
                            <a href="{{ path('index_products_page') }}">Continue shooping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****** Cart Area End ****** -->

        {% include 'default/footer.html.twig' %}
    </div>
{% endblock %}
