{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {% include 'default/header.html.twig' %}

        {% include 'default/slides.html.twig' %}

        {% include 'default/categories.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading text-center">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>
        </div>

        {% include 'default/products.html.twig' %}

        {% include 'default/footer.html.twig' %}
    </div>
{% endblock %}
