{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {% include 'default/header.html.twig' %}

        {% include 'default/slides.html.twig' %}

        {% include 'default/categories.html.twig' %}

        {% include 'default/footer.html.twig' %}
    </div>
{% endblock %}
