{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {% include 'default/header.html.twig' %}

        {% include 'default/slides.html.twig' %}

        {% include 'default/categories.html.twig' %}

        {% include 'default/footer.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <!-- Criteo Homepage Tag -->
    <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
    <script type="text/javascript">
        window.criteo_q = window.criteo_q || [];
        var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
        window.criteo_q.push(
            { event: "setAccount", account: 70871}, // You should never update this line
            { event: "setEmail", email: "" }, // Can be an empty string
            { event: "setSiteType", type: deviceType},
            { event: "viewHome"});
    </script>
    <!-- END Criteo Home Page Tag -->
{% endblock %}