{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
    {% include 'default/header.html.twig' %}

    <div class="container" style="margin-top: 100px;">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <div class="section_heading text-center mt-5">
                    <h2>Our Products</h2>
                </div>
            </div>
        </div>
    </div>

    {% if(app.request.get('category')=='') %}
    <div class="karl-projects-menu mb-100">
        <div class="text-center portfolio-menu">
            <button class="btn active" data-filter="*">ALL</button>
            <button class="btn" data-filter=".TShirt">T-SHIRTS</button>
            <button class="btn" data-filter=".Jeans">JEANS</button>
            <button class="btn" data-filter=".Chemises">SHIRTS</button>
            <button class="btn" data-filter=".Polo">POLO</button>
            <button class="btn" data-filter=".SweatShirt">SWEATSHIRT</button>
            <button class="btn" data-filter=".SweatPants">SWEATPANTS</button>
            <button class="btn" data-filter=".Veste">VESTE</button>
        </div>
    </div>
    {% endif %}

    {% include 'default/products.html.twig' %}

    {% include 'default/footer.html.twig' %}
    </div>
{% endblock %}