.custom-cart {
    border: none;
    padding: 10px 0 10px 0;
    margin-top: 5px;
    background: none;
    font-weight: 700;
    color: #ff084e;
    display: block;
}

.custom-cart:hover {
    color: #2a2a2a;
}

.mailing-input {
    margin-bottom: 10px;
}

.mailing-btn button {
    background-color: black;
    border-color: black;
    width: 100%;
    color: whitesmoke;
    border-radius: 0;
    padding: 5px;
}

.karl-checkout-btn button {
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #ff084e !important;
}

.karl-checkout-btn button:hover {
    color: white;
    background-color: black !important;
}

.icon-3xl i {
    font-size: 32px
}

.send-button{
    background-color: black;
    color: white;
}

.qty-text::-webkit-inner-spin-button,
.qty-text::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.disable-size, disable-size:hover {
    background-color: rgba(33,33,33,0.5) !important;
    border-color: rgba(33,33,33,0.5) !important;
    color: black !important;
}

.input-danger {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

.input-success {
    outline: none !important;
    border:1px solid limegreen;
    box-shadow: 0 0 10px #719ECE;
}

.input-danger:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

.input-success:focus {
    outline: none !important;
    border:1px solid limegreen;
    box-shadow: 0 0 10px #719ECE;
}

.btn-acheter {
    text-transform: uppercase;
    background-color: black;
    font-size: 13px;
    border-color: black;
}

.btn-acheter:hover {
    background-color: white;
    color: black;
    border-color: black;
    font-weight: bold;
}
html, body { overflow-x: hidden; }

.billio-navbar-text {
    background: rgba(15, 14, 10, 1);
    padding-top: 5px;
    width: 100%;
    z-index: 1050;
    letter-spacing: 2vw;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}